---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <br>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y %H:%m" }}</span>
        <hr id="line">
		<div class="content">
		{{ post.excerpt }}
        </div>
		<br>
      </li>
    {% endfor %}
  </ul>
  <ul class="pagination clearfix">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <li><a href="/">Prev</a></li>
      {% else %}
      <li><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}">Prev</a></li>
      {% endif %}
    {% else %}
    <li><span class="disabled">Prev</span></li>
    {% endif %}
    {% if paginator.page == 1 %}
    <li><span class="active">1</span></li>
    {% else %}
    <li><a href="/">1</a></li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li><span class="active">{{ count }}</span></li>
      {% else %}
      <li><a href="{{ site.baseurl }}/page{{ count }}">{{ count }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <li><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">Next</a></li>
    {% else %}
    <li><span class="disabled">Next</span></li>
    {% endif %}
  </ul>
</div>